#map {
  background-color: #fcfcff;
}
#controls {
  padding:    15px 5px 0px 10px;
}
#panzoom_ctls label { float: left;  clear: left; }
#panzoom_ctls input { float: right; clear: right; width: 60px; }

fieldset     { border: 1px none #fff;  padding: 5px; }
fieldset.bdr { border: 1px solid #ddd; padding: 4px; }

.background {
  fill:                 #e9f3ff;
}

.land {
  fill:		    	#bbb;
}

.bdry {
  fill:		    	none;
  stroke:	    	#ddd;
  stroke-width:	    	1.5px;
  stroke-linejoin:  	round;
  stroke-linecap:   	round;
}

.graticule {
  fill:		    	none;
  stroke:	    	#aac;
  stroke-opacity:   	0.5;
  stroke-width:	    	0.5px;
}

.outline {
  stroke-width: 	2px;
  stroke:               #339; 
  fill:                 none;
}


/* path { */
/*   stroke: #333; */
/*   fill:   none; */
/* } */
/* .tile.highlight { */
/*   fill: 	   	#faa; */
/*   fill-opacity: 	0.2; */
/* } */
/* .tile { */
/*   stroke: 		#229; */
/*   stroke-width: 	3px; */
/*   pointer-events:   	visibleStroke; */
/*   stroke-opacity:       0.1; */
/* } */
/* .tile:hover { */
/*   fill: #afa; */
/*   fill-opacity: 	0.2; */
/* } */
/* .tile text { */
/*   font-family: 		sans-serif; */
/*   font-size:   40%; */
/* } */
/* .equator { */
/*   stroke: 	        #ddd; */
/*   stroke-width: 	2px; */
/*   stroke-opacity:   	0.5; */
/*   fill:   none; */
/* } */


/* div.tooltip { */
/*   color:                #222;  */
/*   background:           #fff;  */
/*   padding:              0.5em;  */
/*   text-shadow:          #f5f5f5 0 1px 0; */
/*   border-radius:        2px;  */
/*   box-shadow:           0px 0px 2px 0px #a6a6a6;  */
/*   opacity:              0.9;  */
/*   position:             absolute; */
/* } */

/* .place-cell { */
/*   fill:		    	 none; */
/*   stroke:	    	 #000; */
/*   stroke-opacity:   	 .2; */
/*   fill-opacity:	    	 0.3; */

/*   pointer-events:   	 all; */
/* } */

/* .place circle { */
/*   fill:		    	 steelblue; */
/*   pointer-events:   	 none; */
/* } */

.jsondump {
  color:	    	#333;
  background-color: 	#f7f7f7;

  font-family:	    	Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size:	    	10.0px;
  line-height:	    	14px;
  padding:	    	6px 10px;

  display:	    	block;
  height:	    	200px;
  width:	    	940px;
  overflow-y:	    	auto;

  white-space:           pre-wrap;
}
